@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(120deg, rgb(141, 109, 8) 0%, rgb(123, 29, 2) 100%); */

    color: black;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: 'DotGothic16', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Baloo Chettan 2', cursive; */
    font-family: 'Cherry Swash', cursive;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

h2.topTitle {
    color: white;
}

a {
    color: rgb(255, 156, 86);
}

a:hover {
    color: darkorange;
}

.navbar {
	position: absolute;
	width: 100%;
    background: transparent;
}

.header {
    padding-top: 200px;
}







#mainContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #000000bb;
}

#wikiContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: #000000c7;
}







/* Profile picture edit button position */
.top-right {
	top: 5%;
	right: 26.5%;
}

/* CK Editor */
.ck p, .ck ul, .ck ol, .ck strong {
    color: white;
}

.ck ul, .ck ol {
    margin-left: 20px;
}

.ck figure.table[style*="float:left;"] {
    margin-right: 24px;
}

.ck figure.table[style*="float:right;"] {
    margin-left: 24px;
}


/* Jumbotron */
.jumbotron {
    background: linear-gradient(0deg, #ff8c00e8 0%, #8b0000e8 100%) !important;
}


/* Nav Tabs */
.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-tabs .nav-item {
	font-size: x-large;
    font-family: 'Cinzel', serif;
}

.nav-tabs .nav-item a {
	color: #aa5200;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #ff6600;
	background: linear-gradient(0deg, #8b0000e8 0%, #dc143ce8 100%);
    border-style: solid;
    border-image: linear-gradient(to bottom, #ff9100, rgba(0, 0, 0, 0.20)) 1 25%;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #ffb06f;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fffb00, rgba(0, 0, 0, 0)) 1 25%;
}


/* Cards */
.card {
    background-color: #000000af;
}

.card, .card-img-overlay {
    margin-bottom: 15px !important;
}

.card-img-overlay, .card, .card-img {
    min-height: 250px;
}

.card-img-overlay p.card-text {
    align-self: baseline;
}

.card-img {
    opacity: 1;
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
}

.card-title.h5 {
    align-self: baseline;
}


/* Dropping Image Area CSS */
#droppingArea {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 4px dashed rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 150px;
    background-color: rgba(104, 42, 0, 0.253);
}

#droppingArea:hover {
    background-color: rgba(138, 79, 40, 0.397);
    cursor: pointer;
}

.square-dotted-box {
    border: 4px dashed rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 250px;
    width: 250px;
    background-color: rgba(104, 42, 0, 0.253);
}


/* Profile Wiki Cards CSS */
.delete-icon:hover {
    cursor: pointer;
}


/* Footer CSS */
#footer {
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;
    height: 20rem;
    width: 100%;
    background: linear-gradient(0deg, #e28800e8 0%, #8b0000e8 100%);
}









#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 23rem;
}












/* Sizing CSS */
.mw-content {
    max-width: max-content;
}

.mw-100 {
    max-width: 100% !important;
}


/* Profile Thumbnail image CSS */
.img-thumbnail {
    background: linear-gradient(120deg, #ffc400 0%, #ff3700 100%);
    border: 3px solid transparent;
    border-radius:15px;
    padding: 5px;
    object-fit: cover;
	width: 250px;
	height: 250px;
}


/* Form CSS */
.form-control {
	background-color: transparent;
    border: none;
    color: #000000;
    border-bottom: black 5px solid;
    border-radius: 0;
}

.form-control:focus {
	background-color: transparent;
    box-shadow: none;
    color: #1a1a1a;
    border-color: #632700;
}

.form-control:disabled {
    background-color: transparent;
}

select::-ms-expand {
    display: none !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url("http://localhost:8010/style/selectArrow") 98% / 15px no-repeat;
}

option {
    background-color: black;
    color: white;
}

textarea {
    border-bottom: none !important;
}



/* Profile Display Info */
.profileDisplayPanel {
    height: 700px;
}

.profileDisplayPanel textarea {
    resize: none;
}


/** Fixed Navbar */
.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #c96b00 0%, #af0000 80%, transparent 100%);
    transform: translateY(70px);
    transition: transform 1s ease, background 1s ease;
    -webkit-transition: transform 1s ease, background 1s ease;
    z-index: 1;
}

.navbar_fixed .navbar .nav .nav-item .nav-link {
    line-height: 70px
}

.navbar_fixed .navbar .nav .nav-item .nav-link {
    color: #4e1f00;
}

.navbar_fixed .navbar .nav .nav-item:hover .nav-link,
.navbar_fixed .navbar .nav .nav-item.active .nav-link {
    color: #ac0042;
}

.navbar_fixed .navbar .nav .nav-item.submenu:hover ul .nav-item .nav-link,
.navbar_fixed .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    color: #4d0529;
}

.navbar_fixed .navbar .nav .nav-item.submenu ul .nav-item .nav-link:hover {
    color: #ffffff;
}


/** #Main: Scrollbar */
* {
    scrollbar-color: #e68413 rgb(0, 0, 0);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: -moz-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: -o-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: linear-gradient(0deg, #e68413 0%, #ed2360 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: -moz-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: -o-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: linear-gradient(180deg, #e68413 0%, #ed2360 100%);
}

















.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	background-color: transparent;
	border: none;
    font-size: large;
}

.list-group {
    background: linear-gradient(0deg, #8b0000e8 0%, #e28800e8 100%);
}