/*
*    Index CSS
/***********************
? 44: # Main Settings
*   - 45: Font Import
*   - 51: General
*   - 79: Scrollbar
*   - 107: Anchor
*   - 118: Spacing
*   - 123: Sizing
*   - 152: Containers
*   - 161: Jumbotron
*   - 155: Backgrounds
? 168: # Navbar
*   - 181: Fixed Navbar
*   - 217: Navbar-dark Custom Bootstrap CSS
!   # 229: Navbar Elements
*       - 230: Navbar register button
*       - 237: Navbar Dropdown Menu
? 261: Login-Register Panels
? 296: # CK Editor
!   # 313: Ck Editor Elements
*       - 314: Ck Editor Table
? 328: # Nav Tabs
? 362: # Cards
? 418: # Profile
*   - 419: Navtab Content
!   # 428: Profile Elements
*       - 429: User's Profile image
*       - 458: Profile Wiki Cards Delete Button
*       - 468: Profile Picture Edit Button Position
? 481: Dropping Image Area
? 512: Form
! 569: Homepage Elements
*   - 570: Photo Gallery Card
*   - 576: Rank Card
! 592: Other Theme Elements
*   - 593: ListGroup
*   - 609: Alert
? 629: Footer
/************************************************/


/*? # Main Settings */
/* #Main: Font Import  */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* #Main: General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cherry Swash', cursive;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    color: #ffffff;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

h2.topTitle {
    color: #ffffff;
}

#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 23rem;
}

/* #Main: Scrollbar */
* {
    scrollbar-color: #e68413 #000000;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: -moz-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: -o-linear-gradient(0deg, #e68413 0%, #ed2360 100%);
    background: linear-gradient(0deg, #e68413 0%, #ed2360 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: -moz-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: -o-linear-gradient(180deg, #e68413 0%, #ed2360 100%);
    background: linear-gradient(180deg, #e68413 0%, #ed2360 100%);
}

/* #Main: Anchor */
a {
    color: #ff6600;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

a:hover {
    color: #ff7300;
    text-shadow: #8b0000 0 0 6px;
}

/* #Main: Spacing */
.header {
    padding-top: 200px;
}

/* #Main: Sizing */
.mw-content {
    max-width: max-content;
}

.mw-100 {
    max-width: 100% !important;
}

/* #Main: Containers */
#mainContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #000000bb;
}

#wikiContainer,
#wikiReadContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: #000000c7;
}

#wikiReadContainer .ck.ck-widget__selection-handle {
    display: none;
}

/* #Main: Jumbotron */
.jumbotron {
    background: linear-gradient(0deg, #ff8c00e8 0%, #8b0000e8 100%) !important;
}

/* #Main: Backgrounds */
.bg-tr-black {
    background-color: #00000052;
}








/*? # Navbar */
.navbar {
	position: absolute;
	width: 100%;
    background: transparent;
}

#basic-navbar-nav {
    font-family: 'Audiowide', cursive;
    font-size: larger;
    font-weight: 900;
}

/* #Navbar: Fixed Navbar */
.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #c96b00 0%, #af0000 80%, transparent 100%);
    transform: translateY(70px);
    transition: transform 1s ease, background 1s ease;
    -webkit-transition: transform 1s ease, background 1s ease;
    z-index: 1;
}

.navbar_fixed .navbar .nav .nav-item .nav-link {
    line-height: 70px
}

.navbar_fixed .navbar .nav .nav-item .nav-link {
    color: #4e1f00;
}

.navbar_fixed .navbar .nav .nav-item:hover .nav-link,
.navbar_fixed .navbar .nav .nav-item.active .nav-link {
    color: #ac0042;
}

.navbar_fixed .navbar .nav .nav-item.submenu:hover ul .nav-item .nav-link,
.navbar_fixed .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    color: #4d0529;
}

.navbar_fixed .navbar .nav .nav-item.submenu ul .nav-item .nav-link:hover {
    color: #ffffff;
}

/* #Navbar: Navbar-dark Custom Bootstrap CSS */
.navbar-dark .navbar-nav .nav-link {
    color: #ff7b00;
    text-shadow: #8b0000 0 0 10px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(0, 0, 0);
    text-shadow: #ff7300 0 0 10px;
}

/*! #Navbar Elements */
/* Element: Navbar register button  */
.register-btn {
    text-shadow: none;
    display: flex;
    align-items: center;
}

/* Element: Navbar Dropdown Menu */
.dropdown-item:focus, .dropdown-item:hover {
	color: #000000;
	text-decoration: none;
	background-color: #ff4400b4;
    text-shadow: 0 0 10px #ff9900
}

.dropdown-menu {
	background-color: #000000de;
    text-shadow: 0 0 10px #ff0055
}

.dropdown-item {
	color: #ffffff;
}








/** Login-Register Panels CSS */
#registerPanel #registerPanelContainer,
#loginPanel #loginFormContainer {
    flex: 3;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

#loginPanel img {
    flex: 7;
    object-fit: cover;
}

#loginPanel {
    display: flex;
    background-color: #000000c7;
    max-width: 1400px;
    height: 700px;
}

#registerPanel {
    display: flex;
    background-color: #000000c7;
    max-width: 1400px;
    height: 850px;
}








/*? # CK Editor */
.ck p, .ck ul, .ck ol, .ck strong {
    color: #ffffff;
}

.ck ul, .ck ol {
    margin-left: 20px;
}

.ck figure.table[style*="float:left;"] {
    margin-right: 24px;
}

.ck figure.table[style*="float:right;"] {
    margin-left: 24px;
}

/*! # Ck Editor Elements */
/* Element: Ck Editor Table */
.ck-content .table table {
	color: #ffffff;
    text-shadow: darkorange 0 0 1px;
    font-family: sans-serif;
}








/** # Nav Tabs */
.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-tabs .nav-item {
	font-size: x-large;
    font-family: 'Cinzel', serif;
}

.nav-tabs .nav-item a {
	color: #aa5200;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #ff6600;
	background: linear-gradient(0deg, #8b0000e8 0%, #dc143ce8 100%);
    border-style: solid;
    border-image: linear-gradient(to bottom, #ff9100, #00000033) 1 25%;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #ffb06f;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fffb00, #00000000) 1 25%;
}








/*? # Cards */
.card {
    background-color: #000000af;
}

.card, .card-img-overlay {
    margin-bottom: 15px !important;
}

.card-img-overlay {
    padding: 0;
}

.card-img-overlay, .card, .card-img {
    min-height: 250px;
}

.card-img-overlay p.card-text {
    align-self: baseline;
}

.card-img {
    opacity: 1;
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
}

.card-img-overlay .card-title.h5 {
    align-self: baseline;
	width: 100%;
	padding: 1rem;
	background: linear-gradient(to right, #000000 0%, transparent 100%);
    font-weight: bolder;
    font-family: 'Cinzel', serif;
}

.card-title.h5 {
    font-family: 'Cinzel', serif;
}

.card-img-overlay p.card-text {
    text-align: right;
	width: 100%;
	padding: 1rem;
	background: linear-gradient(to right, transparent 0%, #000000 100%);
    margin-bottom: 1.25rem;
}








/*? # Profile */
/* # Profile Navtab Content */
.profileDisplayPanel {
    height: 700px;
}

.profileDisplayPanel textarea {
    resize: none;
}

/*! # Profile Elements */
/* #Element: User's Profile image CSS */
.img-thumbnail {
    background: linear-gradient(120deg, #ffc400 0%, #ff3700 100%);
    border: 3px solid transparent;
    border-radius:15px;
    padding: 5px;
    object-fit: cover;
	width: 250px;
	height: 250px;
}

.wiki-author-img {
    background: linear-gradient(120deg, #ffc400 0%, #ff3700 100%);
    border: 1px solid transparent;
    border-radius:15px;
    padding: 2px;
    object-fit: cover;
	width: 180px;
	height: 180px;
}

#wikiPageAuthorLabel {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 25px;
	color: #ffffff;
	font-size: larger;
}

/* #Element: Profile Wiki Cards Delete Button CSS */
.delete-icon {
    margin: 1.25rem;
}

.delete-icon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px #ffa500);
}

/* #Element: Profile Picture Edit Button Position */
.top-right {
	top: 5%;
	right: 26.5%;
}








/*? Dropping Image Area CSS */
#droppingArea {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 4px dashed #0000004d;
    border-radius: 4px;
    height: 150px;
    background-color: #682a0041;
}

#droppingArea:hover {
    background-color: #8a4f2865;
    cursor: pointer;
}

.square-dotted-box {
    border: 4px dashed #0000004d;
    border-radius: 4px;
    height: 250px;
    width: 250px;
    background-color: #682a0041;
}








/*? Form CSS */
.form-control {
	background-color: transparent;
    border: none;
    border-bottom: #000000 5px solid;
    border-radius: 0;
    color: #FFAA00; 
    font-weight: bold; 
    text-shadow: 0 0 10px #ff0000
}

.form-control:focus {
	background-color: transparent;
    box-shadow: none;
    border-color: #632700;
    color: #ff6600; 
    font-weight: bold; 
    text-shadow: 0 0 10px #ff0055
}

.form-control:disabled {
    background-color: transparent;
}

.form-group {
	margin-bottom: 2rem;
}

select::-ms-expand {
    display: none !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url("http://localhost:8010/style/selectArrow") 98% / 15px no-repeat;
}

option {
    background-color: #000000;
    color: #ffffff;
}

textarea {
    color: #ffffff !important;
    border-bottom: none !important;
}








/*! Homepage Elements  */
/* Element: Photo Gallery Card Homepage  */
.home-gallery-pic {
    max-height: 450px !important;
    min-height: 450px !important;
}

/* Element: Rank Card Homepage  */
.rank-container a {
    font-weight: 900;
}

.rank-container {
    background: linear-gradient(0deg, #8b0000e8 0%, #e28800e8 100%);
}








/*! Other Theme Elements */
/* Element: ListGroup */
.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	background-color: transparent;
	border: none;
    font-size: large;
}

.list-group {
    color: #ffffff;
    text-shadow: 0 0 5px #ff8c00;
    background: #000000e3;
}

/* Element: Alert */
.alert-danger {
	color: #ffce8e;
	background-color: #ff0015a2;
	border-color: #ff0015a2;
}

.alert-success {
	color: #38ff66;
	background-color: #155724;
	border-color: #094216;
}








/*? # Footer CSS */
#footer {
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;
    height: 20rem;
    width: 100%;
    background: linear-gradient(0deg, #e28800e8 0%, #8b0000e8 100%);
}